.container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-color: #333533;
}


form {
  width: 23rem;
  display: flex;
  padding: 5px;
  border-width: 1.5px;
  border-radius: 10px;
  background-color: #cfdbd5;
  flex-direction: column;
  align-items: center;
}
form button {
  justify-content: flex-end;
  background-color: #013bcec0;
  border-radius: 5px;
  font-size: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 10rem;
}

form button:hover {
  background-color: #013bce84;
  cursor: pointer;
}

form p {
  font-size: 25px;
  margin: 10px;
}
form input {
  height: 1.5rem;
  width: 20rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
